/* Background colors for my cover */
.bg-teal-600{
  background-color: #1aa179;
}
/* ++ */
.bg-teal-700{
  background-color: #13795b;
}
/* ++ */

.bg-teal-800{
  background-color: #0d503c;
}


.bg-cyan-800{
  background-color: #055160;
}

.bg-cyan-700{
  background-color: #087990;
}



.bg-green-700{
  background-color: #0f5132;
}
